/* ------------HOME CSS------------ */

/* Body (exclusive to Home) */
body {
    text-align: center;
    display: grid;
}

/* Unique for #content */
#content {
    width: 88vw;
    height: 200vh;
    background-color: aqua;
    grid-column: 2;
}

