/* ------------HOME CSS------------ */

/* Body (exclusive to Home) */
body {
    display: flex;
}

/* Unique for #content */
#content {
    width: 100%;
    height: auto;
    background-color: aqua;
    /* grid-column: 2; */
}

#headerCont{
    background-color: #8ca1fd;
    text-align: center;
    padding: 1vh 0 1vh 0;
    font-size: 2vh;
    position: sticky;
    z-index: 1;
    top:0;
}

#mainContent{
    background-color: aquamarine;
}