/* global modifiers */
a {
    text-decoration: none;
}

/* Main containers */
header {
    height: 6vh;
    display: flex;
    /* background-color: #1133ca; */
    /* background-color: #425ac7; */
    background-color: #0E2167;
    justify-content: center;
}

footer {
    height: 5vh;
}

#content {

    background-color: #0E2167;

}

/* subcontainers */

/* header */
#headCont {
    width: 80vw;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0 1vw 0 1vw;
    border-bottom: 0.2vh solid #bbbbbb;
}

#homeTitle {
    font-size: 4vh;
}

#homeLogin {
    margin-left: auto;
    font-size: 3vh;
    padding: 0.3vh 0.5vw 0.3vh 0.5vw;
    border: 0.2vh solid whitesmoke;
    border-radius: 15%;
}

/* content */
#mainCaroCont {
    height: 94vh;
    padding: 2vh 0;
    background-color: #0E2167;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

#signUpBtn {
    z-index: 3;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#signUpBtn a {
    padding: 1vh 1vw;
    color : white;
    text-decoration: none;
}

/* colors */
.white-color {
    color: rgb(214, 214, 214);
}

.yellow-color {
    color: rgb(218, 218, 25);
}