/* ------------NOTES CSS------------ */


/* Centers the modal button */
#modal {
    text-align: center;
}

/* Form Label */
label {
    float: left;
}

label[for="bodyInput"] {
    padding-top: 10px;
}