/* ------------UNIVERSAL CSS------------ */

/* Body */
body {
    display: flex;
}

/* The content div */
#content {
    width: 100%;
    height: auto;
    background-color: aqua;
    /* grid-column: 2; */
}

/* Side Bar */
#sidebar {
    /* 13.2vh == 100px */
    width: 10vh;
    height: 100vh;
    padding: 0 1vh 0 1vh;
    position: sticky;
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #0E2167;
    grid-column: 1;
}

/* Width and height for icons */
#profIcon, .sampleIcon {
    /* 6.6vh == 50px */
    width: 6.6vh;
    height: 6.6vh;
}

/* Profile Icon */
.sidebarItem {
    position: relative;
    padding: 1vh;
}

.profItem {
    border-bottom: 3px solid white;
}

#profIcon {
    background-color: cadetblue;
    border-radius: 50%;
    float: left;
}

#profIcon:hover {
    background-color: cornflowerblue;
}

/* Other Icons */
.sampleIcon {
    background-color: cadetblue;
    border-radius: 10%;
}

.sampleIcon:hover {
    background-color: cornflowerblue;
}

/* Settings */
.settings{
    position: absolute;
    bottom: 1vh;
}