/* ------------UNIVERSAL CSS------------ */

/* Body */
body {
}

/* Side Bar */
#sidebar {
    width: 10vh;
    height: 100vh;
    padding: 0 1vh 0 1vh;
    position: sticky;
    display: block;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #0E2167;
    grid-column: 1;
}

/* Profile Icon */
.sidebarItem {
    position: relative;
    padding: 1vh;
}

.profItem {
    border-bottom: 5px solid white;
    
}

#profIcon {
    background-color: cadetblue;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    float: left;
}

#profIcon:hover {
    background-color: cornflowerblue;
}

/* Other Icons */
.sampleIcon {
    background-color: cadetblue;
    width: 8vh;
    height: 8vh;
    border-radius: 10%;
}

.sampleIcon:hover {
    background-color: cornflowerblue;
}

/* Settings */

.settings{
    position: absolute;
    bottom: 1vh;
}